@model IEnumerable<WebSales.Models.Seller>
@{
    ViewData["Title"] = "Sellers";
}
<h2>Sellers</h2>



<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>@Html.DisplayNameFor(model => model.Email)</th>
            <th>@Html.DisplayNameFor(model => model.BirthDate)</th>
            <th>@Html.DisplayNameFor(model => model.BaseSalary)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>@Html.DisplayFor(modal => item.Name)</td>
            <td>@Html.DisplayFor(model => item.Email)</td>
            <td>@Html.DisplayFor(model => item.BirthDate)</td>
            <td>@Html.DisplayFor(model => item.BaseSalary)</td>
        </tr>
        }
    </tbody>
</table>